.blue {
  background-image: url(../Assets/SVG/ButtonBackgroung.svg);
  background-size: 120px 120px;
  background-position: right 1px top 1px;
  background-repeat: no-repeat;
  color: white;
}

.red {
  background-image: url(../Assets/SVG/ButtonBackgroung.svg);
  background-size: 120px 120px;
  background-position: right 1px top 1px;
  background-repeat: no-repeat;
  color: white;
}
